@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

/* body.dark{

} */


/*   
    font-family: 'Bebas Neue', cursive;

    font-family: 'Raleway', sans-serif;

    
    / ====== Colores ====== /
    
    Primer color = #14505c;
    Primer color btn = #0e373f;
    */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}

body {
    scroll-behavior: smooth;
    background-color: #05262c;
}

h2,
h3,
p {
    color: #919ea1;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

/* Index */
header {
    background: url(../Img/fondo.jpg);
    background-size: cover;
}

.nav__logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.875rem;
    color: #fff;
    align-self: flex-start;
    padding: 1rem;
}

.nav__hamburguesa {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.nav__hamburguesa span {
    display: block;
    background-color: #f3f3f3;
    height: 2px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.nav__menu {
    display: flex;
    padding: 0;
    justify-content: center;

}

.nav__menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: .3s;
}

.nav__menu li a {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#fff, #eee);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    padding: 0.625rem;
}

.nav__menu li a:hover {
    background-image: linear-gradient(#fff, #fff);
    background-size: 100% 2px;
}

.navegador__activo {
    background-color: #14505c;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
    height: 15vh;


}

.navegador__activo h2 {
    color: #fff;
    align-self: flex-start;
}

.navegador__activo span {
    background-color: #ccc;
    align-self: center;
}

.navegador__activo ul li a {
    color: #fff;
    text-decoration: none;
}

.navegador_activo label {
    color: #fff;
}

.navegador__activo ul li a:hover {
    background-image: linear-gradient(#fff, #ffff);
    background-size: 100% 2px;
    color: #fff;

}

.navegador__link:hover {
    text-decoration: none;
    color: #fff;
    background-size: 100% 2px;
}

/*---BOTON SWITCH---*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('../Img/light.svg');
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #14505c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #14505c;
}

input:checked+.slider:before {
    background-image: url('../Img/dark.svg');
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*------Seccion Uno  ------*/
.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'titulo .. descuento';
    height: auto;
    padding: 9.375rem;

}

.home__titulo {
    grid-area: titulo;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3.125rem;
    padding-left: 1.875rem;

}

.home__subTitulo2 {
    grid-area: descuento;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: center;
    align-content: center;
    align-items: center;


}

.home__titulo b {
    font-family: 'Bebas Neue', cursive;
    color: #25a794;
    font-size: 9rem;
    text-shadow: 5px 5px 0px #14505c;
}

.home__span {
    font-size: 1.5rem;
}

.home__span2 {

    font-size: 10rem;
    font-family: 'Raleway', sans-serif;
    border-right: 4px solid;
    border-left: 4px solid;
    padding: 0px 1.25rem;
    font-weight: bolder;
}

/*------Usuario------*/
.usuario {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

}

.usuario__titulo {
    color: #dddddd;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    padding: 40px;
    align-self: flex-start;

}


.usuarioForm {
    width: 90%;
    height: auto;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'datos select';
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    background-color: #1c3632;


}

.usuarioForm__label {
    color: #e9e9e9;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px;
    padding-left: 0;
}



.usuarioForm__input {
    font-family: 'Bebas neue', cursive;
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: solid 4px #25a794;
    outline: none;
    transition: 0.5s;
}

.usuarioForm__datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-content: center;
    padding: 30px;
}

.usuarioForm__selects {
    grid-area: select;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;

}

.usuarioForm__select {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #1c7d6f;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.usuarioForm__btn {
    width: 20%;
    padding: 3px;
    align-self: flex-end;
    margin-top: 40px;
    background-color: #1c7d6f;
    color: #fff;
    border: none;
    transition: 0.5s;

}

.usuarioForm__btn:hover {
    transform: scale(1.05);
    background-color: #14505c;
}

.usuarioForm__input:hover {
    background-color: #14505c;
    color: #fff;
    border-bottom: solid 4px #82e3d5;
}

/*-----Seccion dos-------*/
.destino {
    height: auto;

}

.destino__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: auto;
    transition: 1s;
}


.destino__lista {
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.destino__item {
    font-size: 1.25rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 1.25rem;

}

.destino__item img {
    width: 25rem;
    height: 15.625rem;
}

.destino__container {
    position: absolute;
    padding: 1.25rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-template-rows: auto;
    grid-template-areas: 'nombre nombre nombre'
        'precio precio btn';
    align-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: #00000094;
}

.destino__nombre {
    grid-area: nombre;
    color: #fff;
    margin: 0;
    align-self: center;
    font-size: 24px;
}

.destino__precio {
    grid-area: precio;
    color: #e2e2e2;
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
}

.destino__btn {
    grid-area: btn;
    height: 30px;
    color: #fff;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.destino__btn:hover {
    background-color: #076477;
    transform: scale(1.05);
}

.destino__cotizacion {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.destino__cotizacion p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    width: 100%;
    color: #000;
    grid-area: info;
    padding: 10px;
    align-self: center;
    border-bottom: 1px solid rgb(148, 148, 148);
}



.destino__cotizacion span {
    color: #14505c;
    font-size: 26px;

}

.destino__cotizacion b {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    padding: 15px;
    color: #242424;
    align-self: center;
    transition: 0.5s;
    transform: translateX(10%);
}


.destino__cotizacion button {
    width: 120px;
    height: 30px;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-self: center;
    transition: 0.31s;
}

.destino__cotizacion button:hover {
    background-color: #1c7d6f;
    transform: scale(1.05);
}

.seccionDolar {
    width: 100%;
    height: auto;
    display: flex;
    background: #14505c;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.seccionDolar__titulo {
    color: #fff;
    align-self: flex-start;
    padding: 10px;
}

.d-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.d-contenedor {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid #eee;

}

.d-contenedor__tituloFondo {
    background-color: #fff;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.d-contenedor__titulo {
    margin: 0;
    padding: 10px;
}

.d-contenedor p {
    padding: 30px;
    border-bottom: 2px solid #eee;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

#btn__reserva {
    width: 130px;
    height: 32px;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    color: #ddd;
    align-self: center;
    transition: 0.31s;
    box-shadow: 2px 2px 5px 0px rgba(66, 66, 66, 0.75);
    padding: 4px;
}

#destino__reservacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.destino__btn1 {
    width: 130px;
    height: 32px;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    color: #ddd;
    align-self: center;
    transition: 0.31s;
    box-shadow: 2px 2px 5px 0px rgba(66, 66, 66, 0.75);
    padding: 4px;
}

.destino__btn1:hover {
    background-color: #1c7d6f;
    transform: scale(1.05);
}

#destino__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #1c7d6f;
    width: 50%;
    height: auto;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
    border: 3px solid #14505c;

}

.destino__check {
    height: 50rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.destino__cheackDatos {
    padding: 1.25rem;
    align-self: center;
    border: 3px solid #14505c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}

.destino__check p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    width: 100%;

    grid-area: info;
    padding: 0.625rem;
    align-self: center;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.destino__check span {
    color: #14505c;
    font-size: 1.625rem;

}

.destino__check b {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.375rem;
    padding: 0.9375rem;
    color: #919ea1;
    align-self: center;
    transition: 0.5s;

}

.destino__check button {
    width: 7.5rem;
    height: 1.875rem;
    background-color: #14505c;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    align-self: center;
    transition: 0.31s;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.destino__check button:hover {
    background-color: #1c7d6f;
    transform: scale(1.05);
}

.btn__reserva {
    width: 8.125rem;
    height: 2rem;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-self: center;
    transition: 0.31s;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.75);
    padding: 4px;

}

.btn__reserva:hover {
    background-color: #1c7d6f;
    transform: scale(1.05);
}

.borrar {
    background-color: #e60808;
    width: 1.875rem;
    height: 1.875rem;
    color: #fff;
    border: none;
    border-radius: 18.75rem;
    align-self: center;
    margin: 0.3125rem;
    transition: 0.5s;
}

.borrar:hover {
    transform: scale(1.05);
    background-color: #991010;
}

.reservas {
    width: 100%;
    display: flex;
    background: #14505c;
    height: 6.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    padding: 1.25rem;
}

.reservas__hechas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.625rem;
}

.reservas__completadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1.875rem;

}

.reservas__titulo {

    background-color: #14505c;
    color: #fff;
    font-size: 1.875rem;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.reservas__titulo i {
    padding: 10px 0px 14px 10px;
    font-size: 1.875rem;
}

.reservas__completadas span {
    color: #14505c;
    font-size: 1.875rem;

}

.reservas__completadas p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    width: 100%;
    grid-area: info;
    padding: 0.625rem;
    align-self: center;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.reservacionHecha {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    border: 3px solid #14505c;
    margin: 2px;
}

.reservacionHecha span {
    font-size: 1.875rem;
}

.reservacionHecha p {
    padding: 10px;
    font-size: 1.25rem;
    border-bottom: 1px solid #949494;
}

.reservas__completadas button {
    background-color: #e60808;
    width: 30px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-top: 30px;
    transition: 0.5s;
}

.reservas__completadas button:hover {
    transform: scale(1.05);
    background-color: #991010;
}

/*------Seccion tres contacto-------*/
.contacto {
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 'titulo titulo'
        'img form';
    padding: 30px;

}

.contacto__titulo {
    grid-area: titulo;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;
    align-self: flex-start;

}


.contacto__img {
    grid-area: img;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.contacto__img img {
    width: 300px;
    height: auto;
    align-self: center;
}

.formulario {
    grid-area: form;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #14505c;

}

.formulario__label {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 10px;
    padding-left: 0;
    color: #fff;
}

.formulario__input {
    font-family: 'Bebas Neue', cursive;
    width: 60%;
    padding: 10px;
    border: none;
    border-bottom: solid 4px #00849e;
    outline: none;
    transition: 0.5s;
}

.formulario__textarea {
    font-family: 'Bebas Neue', cursive;
    width: 60%;
    height: 100px;
    padding: 10px;
    border: none;
    border-bottom: solid 4px #00849e;
    outline: none;
    transition: 0.5s;
}

.formulario__selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 30px 0px;
}

.formulario__select {
    width: 200px;
    height: 30px;
    color: #fff;
    background-color: #00849e;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.formulario__btn {
    width: 20%;
    padding: 3px;
    align-self: flex-end;
    margin-top: 8px;
    background-color: #00849e;
    color: #fff;
    border: none;
    transition: 0.5s;

}

.formulario__btn:hover {
    transform: scale(1.05);
    background-color: #0b4753;
    box-shadow: 1px 1px 3px 0px #17796a;

}

.formulario__input:hover {
    background-color: #0b4753;
    color: #fff;
    border-bottom: solid 4px #25a794;

}

.formulario__textarea:hover {
    background-color: #0b4753;
    color: #fff;
    border-bottom: solid 4px #25a794;
}

/*====FOOTER ====*/



.footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 7%;
    padding-left: 11%;
}

.footer__data {
    display: flex;
    flex-direction: column;
}

.footer__item {
    display: flex;
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: #1e6e7e;
    padding-left: 0;
    transition: .3s;
}

.footer a:hover {
    transform: scale(1.01);
    color: #0095b3;
}

.footer ul {
    padding-left: 0;
}

.footer__derechos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*========RESPONSIVE TABLET 1 =======*/

@media only screen and (min-width: 769px) and (max-width:901px) {



    /*------SECCION UNO HOME------*/
    .home {
        padding: 6rem;
        padding-top: 10rem;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 1rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 6rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 8rem;

    }

    /*USUARIO FORM*/

    .usuarioForm__input {
        width: 13rem;
    }

    .usuarioForm__select {
        width: 13rem;
    }



}

/*========RESPONSIVE TABLET 2 =======*/
@media only screen and (min-width: 481px) and (max-width:768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .navegador__activo {
        background-color: #14505c;
        box-shadow: 0px 3px 5px 0px rgba(87, 87, 87, 0.29);
        height: 15vh;
        justify-content: center;

    }

    .navegador__activo ul li a {
        color: #fff;
    }

    .nav__logo {
        padding-left: 25px;
    }

    .nav__hamburguesa {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        transition: 0.2s;
    }

    .nav__hamburguesa:hover {
        transform: rotate(360deg);
    }

    .nav__menu {
        flex-direction: column;
        background-color: #14505c;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav__menu li a {
        color: #ffff;
        padding: 30px;
    }

    @keyframes mostrarMenu {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .nav__menu.activado {
        display: flex;
        animation: mostrarMenu 350ms ease-in-out both;
        background-color: #14505c;
        position: absolute;
        top: 0;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);

    }

    .navegador.activado {
        background: #14505c;

    }

    h2.activado {
        color: #ffff;
    }

    .br-1.animado {
        transform: rotate(-45deg)translate(-8px, 10px);

    }

    .br-2.animado {
        opacity: 0;
    }

    .br-3.animado {
        transform: rotate(45deg)translate(-7px, -8px);

    }

    /*  SECCION HOME    */
    .home {
        padding: 6rem;
        padding-top: 10rem;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 1rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 6rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 8rem;

    }

    /*SECCION USUARIO*/

    .usuarioForm__input {
        width: 13rem;
    }

    .usuarioForm__select {
        width: 13rem;
    }

    /*SECCION DESTINOS*/

    .destino {
        padding: 0;
    }

    .destino__contenido {
        padding: 0;
    }

    #destino__info {
        width: 90%;

    }

    .destino__item img {
        width: 23rem;
        height: 15.625rem;
    }

    /*SECCION CONTACTO*/
    .contacto {
        height: auto;
        display: grid;
        grid-template-columns: 43% 55%;
        grid-template-rows: auto;
        grid-template-areas: 'titulo titulo'
            'img form';
        padding: 0px;

    }

    /*SECCION DEL FOOTER*/
    .footer__content {
        padding: 8% 0% 3% 4%;
    }

}


/* FIN TABLET */


/*===========RESPONSIVE MOBILE=========*/

@media only screen and (min-width: 320px) and (max-width:480px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .navegador__activo {
        background-color: #14505c;
        box-shadow: 0px 3px 5px 0px rgba(87, 87, 87, 0.29);
        height: 10vh;
        justify-content: center;

    }

    .navegador__activo ul li a {
        color: #fff;
    }

    .nav__logo {
        padding-left: 25px;
    }

    .nav__hamburguesa {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        transition: 0.2s;
    }

    .nav__hamburguesa:hover {
        transform: rotate(360deg);
    }

    .nav__menu {
        flex-direction: column;
        background-color: #14505c;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav__menu li a {
        color: #ffff;
        padding: 30px;
    }

    @keyframes mostrarMenu {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .nav__menu.activado {
        display: flex;
        animation: mostrarMenu 350ms ease-in-out both;
        background-color: #14505c;
        position: absolute;
        top: 0;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);

    }

    .navegador.activado {
        background: #14505c;

    }

    h2.activado {
        color: #ffff;
    }

    .br-1.animado {
        transform: rotate(-45deg)translate(-8px, 10px);

    }

    .br-2.animado {
        opacity: 0;
    }

    .br-3.animado {
        transform: rotate(45deg)translate(-7px, -8px);

    }

    /*   SECCION HOME   */
    .home {
        padding: 3rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 3rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 5rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 6rem;
        padding: 0px 2.6rem;
    }

    /*USUARIO FORM*/
    .usuarioForm {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'datos''select';
    }

    .usuarioForm__input {
        width: 13rem;
    }

    .usuarioForm__select {
        width: 13rem;
    }

    /*SECCION DESTINO*/
    #destino__info {
        width: 25rem;

    }

    .destino__cheackDatos {
        width: 90%;
    }

    /*DOLAR*/
    .d-contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px solid #eee;
        margin-bottom: 10px;
    }

    /*RESERVAS*/
    .reservas__completadas {
        width: 25rem;
        border: 1px solid #14505c;
    }

    /*SECCION CONTACTO*/
    .contacto {
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 'titulo''form''img';
        padding: 30px;
    }

    /*FOOTER*/
    .footer__content {
        grid-template-columns: 100%;
    }

    .footer__derechos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .footer__terminos a {
        font-size: 0.875rem;
    }


}