/* ======== LINK GOOGLE FONTS =========*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');


/* ======== VARIABLES DE FUENTES ========*/
$titulo:"Bebas Neue",
cursive;
$textos:'Raleway',
sans-serif;

/* ======== VARIABLES DE COLORES ========*/

$colorPrincipal: #14505c;
$colorSecundario: #25a794;
$colorTerciario: #117d92;
$colorBtn: #0e373f;
$colorHoverBtn: #076477;
$btnBorrar: #e60808;
$btnBorrarHover: #991010;
$colorForm: #25a794;
$colorInput: #1c7d6f;
$colorTextos: #919ea1;

/* ======== VARIABLES DE COLORES DARK MODE ====== */

$fondoDark: #05262c;
$fondoFormDark: #1c3632;

/* ========== FIN DE VARIABLES ============= */

/*===== COMIENZO DE WEB*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}

body {
    scroll-behavior: smooth;
    background-color: #fff;
}

h2,
h3,
p {
    color: #919ea1;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

/* ======= HEADER Y NAVEGADOR =========*/
header {
    background: url(../Img/fondo.jpg);
    background-size: cover;
}


.nav__menu {
    display: flex;
    padding: 0;

    li {
        padding: 0 40px;
        list-style-type: none;
        transition: .3s;
    }

    li a {
        font-family: 'Raleway', sans-serif;
        color: #fff;
        text-decoration: none;
        background-image: linear-gradient(#fff, #eee);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s;
        padding: 0.625rem;
    }

    li a:hover {
        background-image: linear-gradient(#fff, #fff);
        background-size: 100% 2px;
    }

}

.nav__logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.875rem;
    color: #fff;
    align-self: flex-start;
    padding: 1rem;
}

.nav__hamburguesa {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

    span {
        display: block;
        background-color: #f3f3f3;
        height: 2px;
        width: 28px;
        margin: 10px auto;
        border-radius: 2px;
    }
}

.navegador__activo {
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
    height: 15vh;

    h2 {
        color: #14505c;
        align-self: flex-start;
    }

    span {
        background-color: #14505c;
        align-self: center;
    }

    ul li a {
        color: #14505c;
        text-decoration: none;
    }

    ul li a:hover {
        background-image: linear-gradient(#14505c, #14505c);
        background-size: 100% 2px;
        color: #14505c;

    }

}

.navegador__link:hover {
    text-decoration: none;
    color: #fff;
    background-size: 100% 2px;
}


/*====== BOTON SWITCH =======*/
.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('../Img/light.svg');
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #14505c;
}

input:focus+.slider {
    box-shadow: 0 0 1px #14505c;
}

input:checked+.slider:before {
    background-image: url('../Img/dark.svg');
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 2.125rem;
}

.slider.round:before {
    border-radius: 50%;
}

/*======== SECCION HOME =========*/
.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'titulo .. descuento';
    height: auto;
    padding: 9.375rem;

    &__titulo {
        grid-area: titulo;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 3.125rem;
        padding-left: 1.875rem;

    }

    &__subTitulo2 {
        grid-area: descuento;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        justify-content: center;
        align-content: center;
        align-items: center;

    }

    &__titulo b {
        font-family: 'Bebas Neue', cursive;
        color: #25a794;
        font-size: 9rem;
        text-shadow: 5px 5px 0px #14505c;
    }

    &__span {
        font-size: 1.5rem;
    }

    &__span2 {

        font-size: 10rem;
        font-family: 'Raleway', sans-serif;
        border-right: 4px solid;
        border-left: 4px solid;
        padding: 0px 1.25rem;
        font-weight: bolder;
    }

}



/*--======= SECCION USUARIO =======-*/
.usuario {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.875rem;

    &__titulo {
        color: #232323;
        font-family: 'Bebas Neue', cursive;
        font-size: 2.5rem;
        padding: 2.5rem;
        align-self: flex-start;

    }

}




.usuarioForm {
    width: 90%;
    height: auto;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'datos select';
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    background-color: #14505c;

    &__label {
        color: #e9e9e9;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        padding: 10px;
        padding-left: 0;
    }

    &__input {
        font-family: 'Bebas neue', cursive;
        width: 100%;
        height: 1.875rem;
        padding: 0.625rem;
        border: none;
        border-bottom: solid 4px #25a794;
        outline: none;
        transition: 0.5s;
    }

    &__datos {
        grid-area: datos;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        align-content: center;
        padding: 1.875rem;
    }

    &__selects {
        grid-area: select;
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1.875rem;

    }

    &__select {
        width: 100%;
        height: 30px;
        color: #fff;
        background-color: #1c7d6f;
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 5px;
    }

    &__btn {
        width: 20%;
        padding: 3px;
        align-self: flex-end;
        margin-top: 40px;
        background-color: #1c7d6f;
        color: #fff;
        border: none;
        transition: 0.5s;

    }

    &__btn:hover {
        transform: scale(1.05);
        background-color: #14505c;
    }

    &__input:hover {
        background-color: #14505c;
        color: #fff;
        border-bottom: solid 4px #82e3d5;
    }
}



/* ====== SECCION DESTINOS =======*/
.destino {
    height: auto;

    &__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: auto;
        transition: 1s;
    }

    &__lista {
        list-style: none;
        font-family: 'Bebas Neue', cursive;
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        font-size: 1.25rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        padding-bottom: 1.25rem;


    }

    &__item img {
        width: 25rem;
        height: 15.625rem;
    }

    &__container {
        position: absolute;
        padding: 1.25rem;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-template-rows: auto;
        grid-template-areas: 'nombre nombre nombre'
            'precio precio btn';
        align-content: center;
        align-items: center;
        padding: 0.625rem;
        background-color: #00000094;
    }

    &__nombre {
        grid-area: nombre;
        color: #fff;
        margin: 0;
        align-self: center;
        font-size: 1.5rem;
    }

    &__precio {
        grid-area: precio;
        color: #e2e2e2;
        margin: 0;
        align-self: center;
        font-size: 1.2rem;
    }

    &__btn {
        grid-area: btn;
        height: 30px;
        color: #fff;
        background-color: #14505c;
        border: none;
        border-radius: 5px;
        transition: 0.5s;
    }

    &__btn:hover {
        background-color: #076477;
        transform: scale(1.05);
    }

    &__check {
        height: 50rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-items: center;

    }

    &__cheackDatos {
        padding: 1.25rem;
        align-self: center;
        border: 3px solid #14505c;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;

    }

    &__check p {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.25rem;
        width: 100%;
        color: #000;
        grid-area: info;
        padding: 0.625rem;
        align-self: center;
        border-bottom: 1px solid rgb(148, 148, 148);
    }

    &__check span {
        color: #14505c;
        font-size: 1.625rem;

    }

    &__check b {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.375rem;
        padding: 0.9375rem;
        color: #242424;
        align-self: center;
        transition: 0.5s;

    }

    &__check button {
        width: 7.5rem;
        height: 1.875rem;
        background-color: #14505c;
        border: none;
        border-radius: 0.3125rem;
        color: #fff;
        align-self: center;
        transition: 0.31s;
        display: flex;
        font-family: 'Bebas Neue', cursive;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
    }

    &__check button:hover {
        background-color: #1c7d6f;
        transform: scale(1.05);
    }
}

.btn__reserva {
    width: 8.125rem;
    height: 2rem;
    background-color: #14505c;
    border: none;
    border-radius: 5px;
    color: #fff;
    align-self: center;
    transition: 0.31s;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.75);
    padding: 4px;

}

.btn__reserva:hover {
    background-color: #1c7d6f;
    transform: scale(1.05);
}

#destino__reservacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#destino__seleccionado {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: auto;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;


}

.reservas {
    width: 100%;
    display: flex;
    background: #14505c;
    height: 6.25rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    padding: 1.25rem;

    &__completadas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 1.875rem;
    }

    &__titulo {
        background-color: #14505c;
        color: #fff;
        font-size: 1.875rem;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &__titulo i {
        padding: 10px 0px 14px 10px;
        font-size: 1.875rem;

    }

    &__completadas span {
        color: #14505c;
        font-size: 1.875rem;

    }

    &__completadas p {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.25rem;
        width: 100%;
        color: #000;
        grid-area: info;
        padding: 0.625rem;
        align-self: center;
        border-bottom: 1px solid rgb(148, 148, 148);
    }

    &__hechas {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding:0.625rem;
    }
}


.reservacionHecha {
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    border: 3px solid #14505c;
    margin: 2px;

    p {
        padding: 10px;
        font-size: 1.25rem;
        border-bottom: 1px solid rgb(148, 148, 148);

    }

    span {
        font-size: 1.875rem;
        color: #000;
    }
}

.borrar {
    background-color: #e60808;
    width: 1.875rem;
    height: 1.875rem;
    color: #fff;
    border: none;
    border-radius: 18.75rem;
    align-self: center;
    transition: 0.5s;
    margin: 0.3125rem;
}

.borrar:hover {
    transform: scale(1.05);
    background-color: #991010;
}

.seccionDolar {
    width: 100%;
    height: auto;
    display: flex;
    background: #14505c;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    padding: 1.25rem;
    margin-bottom: 1.25rem;

    &__titulo {
        color: #fff;
        align-self: flex-start;
        padding: 10px;
    }
}

.d-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;

}

.d-contenedor {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid #eee;


    &__tituloFondo {
        background-color: #fff;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__titulo {
        margin: 0;
        padding: 10px;
    }

    p {
        padding: 30px;
        border-bottom: 2px solid #eee;
        margin: 0;
        color: #fff;
        font-size: 1.5rem;
    }
}

/*======= SECCION CONTACTO =========*/
.contacto {
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas: 'titulo titulo'
        'img form';
    padding: 1.875rem;

    &__titulo {
        grid-area: titulo;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        padding: 2.5rem;
        align-self: flex-start;

    }

    &__img {
        grid-area: img;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__img img {
        width: 18.75rem;
        height: auto;
        align-self: center;
    }
}


.formulario {
    grid-area: form;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 1.25rem;
    background-color: #14505c;

    &__label {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.25rem;
        padding: 0.625rem;
        padding-left: 0;
        color: #fff;
    }

    &__input {
        font-family: 'Bebas Neue', cursive;
        width: 60%;
        padding: 0.625rem;
        border: none;
        border-bottom: solid 4px #00849e;
        outline: none;
        transition: 0.5s;
    }

    &__textarea {
        font-family: 'Bebas Neue', cursive;
        width: 60%;
        height: 6.25rem;
        padding: 0.625rem;
        border: none;
        border-bottom: solid 4px #00849e;
        outline: none;
        transition: 0.5s;
    }

    &__selects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding: 30px 0px;
    }

    &__select {
        width: 12.5rem;
        height: 1.875rem;
        color: #fff;
        background-color: #00849e;
        outline: none;
        border: none;
        border-radius: 3px;
        padding: 5px;
    }

    &__btn {
        width: 20%;
        padding: 3px;
        align-self: flex-end;
        margin-top: 0.5rem;
        background-color: #00849e;
        color: #fff;
        border: none;
        transition: 0.5s;

    }

    &__btn:hover {
        transform: scale(1.05);
        background-color: #0b4753;
        box-shadow: 1px 1px 3px 0px #17796a;

    }

    &__input:hover {
        background-color: #0b4753;
        color: #fff;
        border-bottom: solid 4px #25a794;

    }

    &__textarea:hover {
        background-color: #0b4753;
        color: #fff;
        border-bottom: solid 4px #25a794;
    }

}



/*======== SECCION FOOTER =======*/



.footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 7%;
    padding-left: 11%;
}

.footer__data {
    display: flex;
    flex-direction: column;
}

.footer__item {
    display: flex;
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    color: #14505c;
    padding-left: 0;
    transition: .3s;
}

.footer a:hover {
    transform: scale(1.01);
    color: #117d92;
}

.footer ul {
    padding-left: 0;
}

.footer__derechos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*========RESPONSIVE TABLET 1 =======*/

@media only screen and (min-width: 769px) and (max-width:901px) {



    /*------SECCION UNO HOME------*/
    .home {
        padding: 6rem;
        padding-top: 10rem;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 1rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 6rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 8rem;

    }

    /*USUARIO FORM*/



}

/*========RESPONSIVE TABLET 2 =======*/
@media only screen and (min-width: 481px) and (max-width:768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .navegador__activo {
        background-color: #fff;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
        height: 15vh;
        justify-content: center;

    }

    .navegador__activo ul li a {
        color: #14505c;
    }

    .nav__logo {
        padding-left: 25px;
    }

    .nav__hamburguesa {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        transition: 0.2s;
    }

    .nav__hamburguesa:hover {
        transform: rotate(360deg);
    }

    .nav__menu {

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav__menu li a {
        color: #14505c;
        padding: 30px;
    }

    @keyframes mostrarMenu {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .nav__menu.activado {
        display: flex;
        animation: mostrarMenu 350ms ease-in-out both;
        background-color: #fff;
        position: absolute;
        top: 0;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);

    }

    .nav__hamburguesa.activado {
        background-color: #14505c;
    }

    .navegador.activado {
        background: #fff;
        color: #14505c;
    }

    h2.activado {
        color: #14505c;
    }

    .br-1.animado {
        transform: rotate(-45deg)translate(-8px, 10px);
        background: #14505c;
    }

    .br-2.animado {
        opacity: 0;
    }

    .br-3.animado {
        transform: rotate(45deg)translate(-7px, -8px);
        background: #14505c;
    }

    /*SECCION HOME*/
    .home {
        padding: 6rem;
        padding-top: 10rem;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 1rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 6rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 8rem;

    }

    /* DESTINOS*/
    .destino__item img {
        width: 23rem;
        height: 15.625rem;
    }

    /*SECCION USUARIO*/

    .usuarioForm__input {
        width: 13rem;
    }

    .usuarioForm__select {
        width: 13rem;
    }

    /*SECCION DESTINOS*/

    .destino {
        padding: 0;
    }

    .destino__contenido {
        padding: 0;
    }

    #destino__info {
        width: 90%;

    }

    /*SECCION CONTACTO*/
    .contacto {
        height: auto;
        display: grid;
        grid-template-columns: 43% 55%;
        grid-template-rows: auto;
        grid-template-areas: 'titulo titulo'
            'img form';
        padding: 0px;

    }

    /*SECCION DEL FOOTER*/
    .footer__content {
        padding: 8% 0% 3% 4%;
    }

}


/* FIN TABLET */


/*===========RESPONSIVE MOBILE=========*/

@media only screen and (min-width: 320px) and (max-width:480px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .navegador__activo {
        background-color: #fff;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
        height: 14vh;
        justify-content: center;

    }

    .navegador__activo ul li a {
        color: #14505c;
    }

    .nav__logo {
        padding-left: 25px;
    }

    .nav__hamburguesa {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;
        transition: 0.2s;
    }

    .nav__hamburguesa:hover {
        transform: rotate(360deg);
    }

    .nav__menu {

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    .nav__menu li a {
        color: #14505c;
        padding: 30px;
    }

    @keyframes mostrarMenu {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .nav__menu.activado {
        display: flex;
        animation: mostrarMenu 350ms ease-in-out both;
        background-color: #fff;
        position: absolute;
        top: 0;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);

    }

    .nav__hamburguesa.activado {
        background-color: #14505c;
    }

    .navegador.activado {
        background: #fff;
        color: #14505c;
    }

    h2.activado {
        color: #14505c;
    }

    .br-1.animado {
        transform: rotate(-45deg)translate(-8px, 10px);
        background: #14505c;
    }

    .br-2.animado {
        opacity: 0;
    }

    .br-3.animado {
        transform: rotate(45deg)translate(-7px, -8px);
        background: #14505c;
    }

    /*SECCION HOME*/
    .home {
        padding: 3rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home__titulo {
        font-size: 2rem;
        padding-left: 3rem;

    }

    .home__subTitulo2 {
        font-size: 1.1rem;
    }

    .home__titulo b {
        font-size: 5rem;
    }

    .home__span {
        font-size: 1.5rem;
    }

    .home__span2 {
        font-size: 6rem;
        padding: 0px 2.6rem;
    }

    /*USUARIO FORM*/
    .usuarioForm {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'datos''select';
    }

    .usuarioForm__input {
        width: 13rem;
    }

    .usuarioForm__select {
        width: 13rem;
    }

    /*SECCION DESTINO*/
    #destino__info {
        width: 25rem;

    }

    .destino__cheackDatos {
        width: 90%;
    }

    /*DOLAR*/
    .d-contenedor {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px solid #eee;
        margin-bottom: 10px;
    }

    /*RESERVAS*/
    .reservas__completadas {
        width: 25rem;
        border: 1px solid #14505c;
    }

    /*SECCION CONTACTO*/
    .contacto {
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 'titulo''form''img';
        padding: 30px;
    }

    /*FOOTER*/
    .footer__content {
        grid-template-columns: 100%;
    }

    .footer__derechos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .footer__terminos a {
        font-size: 0.875rem;
    }


}