$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin sm {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $bp-xl) {
    @content;
  }
}
